h1 {
  font-size: 36px;
  color: blue;
}
ul {
  margin: 10;
  padding: 0;
}
li {
  color: rgba(0, 0, 255, 0.692);
  list-style: none;
  margin-left: 5px;
}
li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid blue;
  border-radius: 5px;
}
#temperature {
  font-size: 48px;
  line-height: 1;
  padding: 5px;
  color: blue;
}
#city {
  margin-top: 30px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
