body {
  background: #dddddd;
}
h1 {
  font-size: 36px;
  color: black;
}
ul {
  margin: 10;
  padding: 0;
}
li {
  color: black;
  list-style: none;
  margin-left: 5px;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 1000px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #f9f3f3;
  border-radius: 5px;
  background-color: #f7d9d9;
}
#temperature {
  font-size: 48px;
  line-height: 1;
  padding: 5px;
  color: black;
}
#city {
  margin-top: 30px;
}
.weather-temperature .active {
  color: #ddddddb6;

  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.btn {
  background: #f25287;
  border: 1px solid #f25287;
}
.btn:hover {
  background: #f25287e7;
  border: 1px solid white;
  transition-delay: 250ms;
}
.city-details {
  text-align: center;
  margin: 30px;
  padding: 10px;
}
.card {
  background: #f3dddd;
  margin: 0 auto;
  padding: 20px;
}
